
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

*, *::after, *::before{
    font-family: 'Lato', sans-serif;;
    box-sizing: border-box;
    margin:0;
    padding: 0;
}
:root{
    --series-color:blue;
    --heading-text: 'Varela Round', sans-serif;
    --background-color: #141519;
    --header-color: #23252b;
    --menu-header-text: grey;
    --maxWidth:32rem;
    --button-color: #f47521;
    --paragraph-headings:'Lato', sans-serif;;
    --paragraph-color: white;
    --span-color: #2abdbb;
    --hover-color-news: #393D47;
}

@media (prefers-color-scheme: light){
    :root{
        --paragraph-color: black; 
        --heading-text-color: black;
        --background-color: white;
    }
    

}

li{
    list-style-type: none;
}
a{
    text-decoration: none;
    color: var(--paragraph-color);
}
span{
    color: var(--span-color);
}
body{
    background-color: black;
    color: white;
    grid-template-columns: minmax(auto, var(--maxWidth));
    justify-content:center;
}
body header h1{
    position: fixed;
    left: -99999999em;
    top: 0;
}
header button{
    border: none;
    background-color: var(--header-color);
}
header button img{
    border:none;
}
header{
    background-color: var(--header-color);
    position: sticky;
    display: flex;
    width: 100%;
    top:0;
    z-index: 100;
    height: 5em;
}
header > ul{
    display: flex;
    
}

header img{
    width: 5em;    
}
header nav{
    position: fixed;
    inset:0;
    top:5em;
    display: flex;
    flex-direction: column;
    transform: translateY(-200%);
    transition: .1s;
    background-color: var(--background-color);
}
header nav.open{
    transform: translateY(0%);
}
header nav ul{
    padding:1em;
    display:flex;
    flex-direction: column;
    gap: 2em;
    
}
header nav ul li a{
    display: flex;
    gap: 10em;
}

header h2{
    font-size: 1em;
    color: var(--menu-header-text);
}

  /******************************/
  /* DE CAROCARROUSEL CONTAINER */
  /******************************/
  
  .caroCarrousel {
      /* basis waarden die door de hele carrousel gebruikt worden */
      /* kun je zelf aanpassen */
    --caroCarrouselMainColor: var(--button-color);
    --caroCarrouselAccentColor: black ;
    --caroCarrouselShadeColor:white;
    --caroCarrouselInverseColor:var(--background-color);
    --caroCarrouselAutoScrollInterval:4000;
  
    position: relative;
     /* om de linkbuttons te verbergen */
      outline:none;
    padding:1em 1em;
    margin-bottom: 3em;
    background-color: var(--back-color1);
  }
.caroCarrousel:nth-of-type(1){
  --back-color1:#2abdbb;
}
  .caroCarrousel.alternative {
      background-color: #f47521 ;
  }
  
  /* dark mode */
  @media (prefers-color-scheme: light) {
    .caroCarrousel {
      --caroCarrouselShadeColor: black;
    }
  }
  
  
  /************************************/
  /* de carrousel elementen container */
  .caroCarrousel > ul {
    width:80%;
    max-width: 20em;
    min-width:12em;
    margin: 0 auto; padding: 0;
    list-style: none;
      display: flex;
      
      /* handmatig scrollen is mogelijk */
      overflow: hidden;
      
      /* snappen als er gescrolled wordt - andere helft bij li */
    scroll-snap-type: inline mandatory;
    
    /* smooth scrollen */
      scroll-behavior: smooth;
    
    /* scrollbar zoveel mogelijk verbergen */
    -webkit-overflow-scrolling: touch; /* voor iOS*/
    -ms-overflow-style: none; /* voor IE */
      scrollbar-width: none; /* voor firefox */
    flex-direction: row;
  }
  
  .caroCarrousel:nth-of-type(2) > ul{
    margin: 0;
    width:100%;
    max-width: 100%;
    gap: 2em;
  }

  /* .caroCarrousel:nth-of-type(2) > ul li a h3{
    order: -1;
  } */
  
  .caroCarrousel > ul::-webkit-scrollbar {
    /* scrollbar zoveel mogelijk verbergen */
    display: none; /* voor chrome, safari en edge*/
  }
  
  
  /**************************/
  /* de carrousel elementen */
  .caroCarrousel > ul li {
    flex-basis: 100%;
    flex-shrink: 0;
    /* snappen als er gescrolled wordt - andere helft bij ul */
      scroll-snap-align:center;
  }
  .caroCarrousel:nth-of-type(2) > ul li {
    flex-basis: 10%;
    flex-shrink: 0;
    gap: 2em;
    /* snappen als er gescrolled wordt - andere helft bij ul */
      scroll-snap-align:center;
  }
  
  /**********************************/
  /* de carrousel elementen content */
  
  /* de stijlen voor jouw content hier */
  .caroCarrousel > ul li > img {
    display: block;
    width: 100%;
  }
  
  
  /****************/
  /* DE BOLLETJES */
  /****************/
  
  /* de bolletjes container */
  .caroCarrousel nav ul {
    position: absolute;
    left: 2em; right: 2em;
    top: calc(100% + .5em);
    margin: 0;
    padding: 0 0 .5em;
    list-style: none;
      
      display: flex;
  /* 	flex-wrap:wrap; */
    justify-content: center;
    gap:.4em;
  }
  
  /* een bolletje container */
  .caroCarrousel > nav li {
      flex-basis: 2.5em;
      aspect-ratio: 10/1;
  }
  
  /* de bolletjes */
  .caroCarrousel > nav a {
    display: block;
    width:100%;
    height:100%;
    
    text-decoration: none;
      color: var(--caroCarrouselMainColor);
    background-color: var(--caroCarrouselShadeColor);
    
    transition: 0.5s;
  }
  
  .caroCarrousel > nav a:hover,
  .caroCarrousel > nav a:focus {
    color: var(--caroCarrouselAccentColor);
  }
  
  .caroCarrousel > nav a.current {
    background-color: currentColor;
  }
  
  
  /****************************/
  /* PREV EN NEXT LINKBUTTONS */
  /****************************/
  .caroCarrousel > a {
    position: absolute;
    width: 3em;
    aspect-ratio:1/1;
      top: calc(50% - 1.5em);
    
    color: var(--background-color);
    background-color: none;
    outline: none;

      
    display:grid;
    place-items:center;
    
    transition: 0.5s;
  }
  .caroCarrousel:nth-of-type(2) > a{
    width: 2em;
    color: var(--caroCarrouselShadeColor);
    background-color: var(--menu-header-text);
  }
  
  
  /* bij hover en focus schuiven de links in beeld */
  .caroCarrousel:hover > a[href="previous"],
  .caroCarrousel:focus-within > a[href="previous"] {
    left:.5em;
  }
  .caroCarrousel:hover > a[href="next"],
  .caroCarrousel:focus-within > a[href="next"] {
    right:.5em;
  }
  
  /* .caroCarrousel:nth-of-type(2) > a[href="previous"] {
    left:-3.5em;
  }
  .caroCarrousel:nth-of-type(2) > a[href="next"] {
    right: -3.5em;
  } */

  /* initieel staan de links "buiten beeld" */
.caroCarrousel > a[href="previous"] {
  left:.5em;
}
.caroCarrousel > a[href="next"] {
  right: .5em;
}

  /* prev en next linkbuttons pijltjes */
  .caroCarrousel > a::before,
  .caroCarrousel > a::after {
    content: "";
    position: absolute;
    width: 1em; height: 4px;
    background-color: currentColor;
  }
  
  .caroCarrousel > a[href=previous]::before {
      transform-origin: 2px center;
      transform: translateY(0) rotate(45deg);
  }
  .caroCarrousel > a[href=previous]::after {
      transform-origin: 2px center;
      transform: translateY(0) rotate(-45deg);
  }
  
  .caroCarrousel > a[href=next]::before {
      transform-origin: calc(100% - 2px) center;
      transform: translateY(0) rotate(45deg);
  }
  .caroCarrousel > a[href=next]::after {
      transform-origin: calc(100% - 2px) center;
      transform: translateY(0) rotate(-45deg);
  }
  
  .caroCarrousel > a:hover,
  .caroCarrousel > a:focus {
    color: var(--caroCarrouselAccentColor);
  }
  
  
  /*********************/
  /* PLAY/PAUSE BUTTON */
  /*********************/
  
  .caroCarrousel > button {
    position: absolute;
    right: .5em;
    bottom: .5em;
    
    width: 1.2em;
    aspect-ratio:1/1;
    padding:0;
    
    font-size:inherit;
    appearance: none;
    background-color: var(--caroCarrouselShadeColor);
  
    border: none;
      outline: none;
      box-shadow: inset 0 0 0 1px currentColor;
      cursor: pointer;
      
    transition: 0.5s;
  
      display: flex;
    justify-content: center;
      align-items: center;
  }
  
  .caroCarrousel > button:hover,
  .caroCarrousel > button:focus {
    color: var(--caroCarrouselAccentColor);
  }
  
  /* play/pause button */
  .caroCarrousel > button::before,
  .caroCarrousel > button::after {
    content: "";
    position: absolute;
    width: .5em; height: 2px;
    background-color: currentColor;
    transform-origin: calc(100% - 1px) center;
    transition:transform 0.5s;
  }
  
  /* indien niet aan het auto-scrollen */
  /* de streepjes vormen een play-icoon */
  .caroCarrousel > button::before {
      transform: translateY(0) rotate(45deg);
  }
  .caroCarrousel > button::after {
      transform: translateY(0) rotate(-45deg);
  }
  
  /* indien aan het auto-scrollen */
  /* de streepjes vormen een pauze-icoon */
  .caroCarrousel.autoScrolling > button::before {
      transform: translateY(-2px);
  }
  .caroCarrousel.autoScrolling > button::after {
      transform: translateY(2px);
  }
  
  /* in de button draait een 'eierwekker' */
  .caroCarrousel.autoScrolling > button {
      animation-name: carrouselAutoScrollingButton;
    animation-duration: calc(var(--caroCarrouselAutoScrollInterval) * 1ms);
    animation-timing-function: linear;
    animation-iteration-count: infinite;
  }
  
  @keyframes carrouselAutoScrollingButton {
      0%{ background-image: conic-gradient(var(--caroCarrouselInverseColor) 0%, transparent 0%); }
      2%{ background-image: conic-gradient(var(--caroCarrouselInverseColor) 2%, transparent 0%); }
      4%{ background-image: conic-gradient(var(--caroCarrouselInverseColor) 4%, transparent 0%); }
      6%{ background-image: conic-gradient(var(--caroCarrouselInverseColor) 6%, transparent 0%); }
      8%{ background-image: conic-gradient(var(--caroCarrouselInverseColor) 8%, transparent 0%); }
      
      10%{ background-image: conic-gradient(var(--caroCarrouselInverseColor) 10%, transparent 0%); }
      12%{ background-image: conic-gradient(var(--caroCarrouselInverseColor) 12%, transparent 0%); }
      14%{ background-image: conic-gradient(var(--caroCarrouselInverseColor) 14%, transparent 0%); }
      16%{ background-image: conic-gradient(var(--caroCarrouselInverseColor) 16%, transparent 0%); }
      18%{ background-image: conic-gradient(var(--caroCarrouselInverseColor) 18%, transparent 0%); }
  
      20%{ background-image: conic-gradient(var(--caroCarrouselInverseColor) 20%, transparent 0%); }
      22%{ background-image: conic-gradient(var(--caroCarrouselInverseColor) 22%, transparent 0%); }
      24%{ background-image: conic-gradient(var(--caroCarrouselInverseColor) 24%, transparent 0%); }
      26%{ background-image: conic-gradient(var(--caroCarrouselInverseColor) 26%, transparent 0%); }
      28%{ background-image: conic-gradient(var(--caroCarrouselInverseColor) 28%, transparent 0%); }
  
      30%{ background-image: conic-gradient(var(--caroCarrouselInverseColor) 30%, transparent 0%); }
      32%{ background-image: conic-gradient(var(--caroCarrouselInverseColor) 32%, transparent 0%); }
      34%{ background-image: conic-gradient(var(--caroCarrouselInverseColor) 34%, transparent 0%); }
      36%{ background-image: conic-gradient(var(--caroCarrouselInverseColor) 36%, transparent 0%); }
      38%{ background-image: conic-gradient(var(--caroCarrouselInverseColor) 38%, transparent 0%); }
  
      40%{ background-image: conic-gradient(var(--caroCarrouselInverseColor) 40%, transparent 0%); }
      42%{ background-image: conic-gradient(var(--caroCarrouselInverseColor) 42%, transparent 0%); }
      44%{ background-image: conic-gradient(var(--caroCarrouselInverseColor) 44%, transparent 0%); }
      46%{ background-image: conic-gradient(var(--caroCarrouselInverseColor) 46%, transparent 0%); }
      48%{ background-image: conic-gradient(var(--caroCarrouselInverseColor) 48%, transparent 0%); }
  
      50%{ background-image: conic-gradient(var(--caroCarrouselInverseColor) 50%, transparent 0%); }
      52%{ background-image: conic-gradient(var(--caroCarrouselInverseColor) 52%, transparent 0%); }
      54%{ background-image: conic-gradient(var(--caroCarrouselInverseColor) 54%, transparent 0%); }
      56%{ background-image: conic-gradient(var(--caroCarrouselInverseColor) 56%, transparent 0%); }
      58%{ background-image: conic-gradient(var(--caroCarrouselInverseColor) 58%, transparent 0%); }
  
      60%{ background-image: conic-gradient(var(--caroCarrouselInverseColor) 60%, transparent 0%); }
      62%{ background-image: conic-gradient(var(--caroCarrouselInverseColor) 62%, transparent 0%); }
      64%{ background-image: conic-gradient(var(--caroCarrouselInverseColor) 64%, transparent 0%); }
      66%{ background-image: conic-gradient(var(--caroCarrouselInverseColor) 66%, transparent 0%); }
      68%{ background-image: conic-gradient(var(--caroCarrouselInverseColor) 68%, transparent 0%); }
  
      70%{ background-image: conic-gradient(var(--caroCarrouselInverseColor) 70%, transparent 0%); }
      72%{ background-image: conic-gradient(var(--caroCarrouselInverseColor) 72%, transparent 0%); }
      74%{ background-image: conic-gradient(var(--caroCarrouselInverseColor) 74%, transparent 0%); }
      76%{ background-image: conic-gradient(var(--caroCarrouselInverseColor) 76%, transparent 0%); }
      78%{ background-image: conic-gradient(var(--caroCarrouselInverseColor) 78%, transparent 0%); }
  
      80%{ background-image: conic-gradient(var(--caroCarrouselInverseColor) 80%, transparent 0%); }
      82%{ background-image: conic-gradient(var(--caroCarrouselInverseColor) 82%, transparent 0%); }
      84%{ background-image: conic-gradient(var(--caroCarrouselInverseColor) 84%, transparent 0%); }
      86%{ background-image: conic-gradient(var(--caroCarrouselInverseColor) 86%, transparent 0%); }
      88%{ background-image: conic-gradient(var(--caroCarrouselInverseColor) 88%, transparent 0%); }
  
      90%{ background-image: conic-gradient(var(--caroCarrouselInverseColor) 90%, transparent 0%); }
      92%{ background-image: conic-gradient(var(--caroCarrouselInverseColor) 92%, transparent 0%); }
      94%{ background-image: conic-gradient(var(--caroCarrouselInverseColor) 94%, transparent 0%); }
      96%{ background-image: conic-gradient(var(--caroCarrouselInverseColor) 96%, transparent 0%); }
      98%{ background-image: conic-gradient(var(--caroCarrouselInverseColor) 98%, transparent 0%); }
      
      100%{ background-image: conic-gradient(var(--caroCarrouselInverseColor) 100%, transparent 0%); }
  } 
  main sectio:nth-of-type(3){
    display: grid;
  }

 
  main section:nth-of-type(3) button:nth-of-type(2){
    margin: 0; padding: 2em;
    align-self: center;
    
    border:none;
    background-color: var(--button-color);
    font-family: var(--heading-text);
    text-transform: uppercase;
    font-weight: bold;
  }
  main section:nth-of-type(3) button:nth-of-type(2) img{
    rotate: 90deg;;
    width: 3em;
  }
  main section:nth-of-type(3) img{
    width: 100%;
  }
  
  main section:nth-of-type(4){
    padding: .3em;
    border: solid;
    border-color: transparent;
    border-width: .5em;
    background-image: linear-gradient(#fab818,#ef4323);;
  }


main section:nth-of-type(4) div{
  padding: .1em;
  background-image: linear-gradient(#fab818,#ef4323);;
  position:static;
}

main section:nth-of-type(4) section, main section:nth-of-type(4) h2, main section:nth-of-type(4) div{
  background-color: var(--background-color);
}

main section:nth-of-type(4) section{
  padding: .5em;
}

/* Dit is de Top news van crunchyroll */

main > section:nth-of-type(4) section:nth-of-type(1) h3 {
  font-size: 1rem;
}

main > section:nth-of-type(4) section:nth-of-type(1) ul{
  margin: 0;
  padding: 0;
  list-style: none;
  display:grid;
  gap: .5em;
  grid-template-columns:  repeat(2, 1fr)

}

main > section:nth-of-type(4) section:nth-of-type(1) li a{
  display: grid;
  grid-template-rows:  1fr;
  row-gap: 0.5em;
}

main > section:nth-of-type(4) section:nth-of-type(1) li a:hover{
  background-color: var(--hover-color-news);
  transition: 1s ease;
}

main > section:nth-of-type(4) section:nth-of-type(1) li h4{
  margin: 0;
  line-height: 1.5em;
  font-size: 1em;

}

main > section:nth-of-type(4) section:nth-of-type(1) li p{
  margin:0;
  color: var(--menu-header-text);
  line-height: 1em;
  font-size: .75em;
}

main > section:nth-of-type(4) section:nth-of-type(1) li a img{
  width: 10em;
  aspect-ratio: 16/9;
  grid-row-start: 1;
  grid-row-end: 2;
  object-fit: cover;
}


 /* Dit is de News layout van Latest News */

main > section:nth-of-type(4) section:nth-of-type(2) h3 {
  font-size: 1rem;
}

main > section:nth-of-type(4) section:nth-of-type(2) ul{
    margin: 0;
    padding: 0;
    list-style: none;
    display:grid;
    gap: .5em;

}

main > section:nth-of-type(4) section:nth-of-type(2) li a{
    display: grid;
    grid-template-columns: max-content 1fr;
    grid-template-rows: max-content max-content 1fr;
    column-gap: 0.5em;
    row-gap: 0.1em;
}
main > section:nth-of-type(4) section:nth-of-type(2) li a:hover{
  background-color: var(--hover-color-news);
  transition: 1s ease;
}
main > section:nth-of-type(4) section:nth-of-type(2) li h4{
    margin: 0;
    line-height: 1.25em;
    font-size: 1em;
}

main > section:nth-of-type(4) section:nth-of-type(2) li p{
    margin:0;
    color: var(--menu-header-text);
    line-height: 1em;
    font-size: .75em;
}

main > section:nth-of-type(4) section:nth-of-type(2) li a img{
    width: 4em; 
    grid-row-start: 1;
    grid-row-end: 4;
}
